# App secret values used to create Kubernetes secret app-secrets
CELERY_BROKER_URL=redis://redis:6379/0
S3_ENDPOINT_URL=http://minio:9000
AWS_REGION_NAME=us-east-1
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
S3_BUCKET_NAME=images

# Infrastructure value injected in manifests via envsubst during deploy.sh
GITHUB_PAT=your-github-pat
FLOATING_IP=0.0.0.0
